@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
	--logo-text: "Dancing Script", cursive;
	--card-clr: #161922;
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86;
	--title-color: hsl(230, 24%, 12%);
	--gray-color: hsl(230, 24%, 88%);
	--container-color: hsl(0, 0%, 100%);
	--h2-font-size: 1.25rem;
	--normal-font-size: 1rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	background-color: white;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .brand a{
	font-family: var(--logo-text);
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: black;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

#hero {
	position: relative;
	z-index: 1;
}
video {
	position: absolute;
  	right: 0;
  	bottom: 0;
  	min-width: 100%; 
  	min-height: 100%;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgba(240, 248, 255, 0.25);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#facilities .facilities {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0 500px 0;
}
#facilities .facilities-box {
	max-width: 1200px;
	margin: 0 auto;
}

.card-container {
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    width: 220px;
    height: 340px;
    border-radius: 12px;
    transform-style: preserve-3d;
	background: linear-gradient(135deg, rgb(236, 235, 235), rgb(213, 212, 212));
}

.card .product {
    height: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}
.product .sneakers {
	color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 35px;
    font-style: italic;
    opacity: 0.7;
	z-index: 2;
}
.product img {
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-35%, -45%, 0);
    pointer-events: none;
}

.card .title {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 12px 12px;
    transform-style: preserve-3d;
}

.card .title h2 a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.card:hover .product img {
    transform: translate3d(-50%, -40%, 80px);
}
.card:hover .product .sneakers {
    transform: translateZ(40px);
    opacity: 0.85;
}
.card:hover .title h2 {
    transform: translateZ(20px);
}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	margin: 0 auto;
	padding: 100px 20px;
	display: inline-block;
}
#about .col-right {
	width: 100%;
}

#about .col-right p {
	margin: 0 10rem 20rem;
}

#about .col-right img { 
	width: 30rem;
	height: 30rem;
	margin-bottom: 30px;
}

.container__about__img {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-inline: 1.5rem;
	padding-block: 7rem;
  }
  
  .card__article {
	position: relative;
	align-self: flex-end;
	display: flex;
	justify-content: center;
  }
  
  .card__profile {
	width: 230px;
	height: 150px;
	background-color: rgb(236, 235, 235);
	border-radius: 10%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .card__profile h2 {
	font-size: 30px;
	color: transparent;
    -webkit-text-stroke: 0.5px black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	transition: all 2s;
  }
  
  .card__mask {
	width: 200px;
	height: 200px;
	background-color: var(--gray-color);
	border-radius: 10%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
  }
  
  .card__mask .img__1 {
	width: 200px;
	height: 200px;
	background-image: url(https://asset.kompas.com/crops/P7N1iXPtPkphHPiCUeXTIHGQQxk=/0x0:650x433/1200x800/data/photo/2021/08/27/6128da92606de.jpg);
	background-size: cover;
	background-position: center;
  }
  .card__mask .img__2 {
	width: 200px;
	height: 200px;
	background-image: url(https://beritabeta.com/storage/img/2022/02/istana-mini.jpeg);
	background-size: cover;
	background-position: center;
  }
  .card__mask .img__3 {
	width: 200px;
	height: 200px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZoEoLxlrj_z2Xiw-FeVo1Sh_RCdKZDAoMZQ&s);
	background-size: cover;
	background-position: center;
  }
  .card__mask .img__4 {
	width: 200px;
	height: 200px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkTY_gx7QXemcj_vP5SRdBlnBN9O2bPs5XpQ&s);
	background-size: cover;
	background-position: center;
  }
  .card__mask .img__5 {
	width: 200px;
	height: 200px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPpVRQ_i5yhABS5eL3dqkZXfBJjOSGrESebA&s);
	background-size: cover;
	background-position: center;
  }
  .card__mask .img__6 {
	width: 200px;
	height: 200px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkdBuMuqQwcb1jcOkZW9elblErhU5jTfqblw&s);
	background-size: cover;
	background-position: center;
  }

  .card__mask img {
	width: 95px;
  }
  
  .card__profile {
	z-index: 5;
	transition: opacity .4s, transform .4s;
	margin-bottom: 25rem;
	box-shadow: 0 16px 32px hsla(230, 50%, 20%, .1);
  }
  
  .card__tooltip {
	position: absolute;
	top: 12rem;
	transition: opacity .4s, top .4s cubic-bezier(.6, -.5, .3, 1.5);
	pointer-events: none;
	opacity: 0;
  }
  
  .card__content {
	position: relative;
	width: 250px;
	background-color: var(--container-color);
	box-shadow: 0 16px 32px hsla(230, 50%, 20%, .1);
	padding: 2rem 1.5rem;
	border-radius: 30px;
  }
  
  .card__content::after {
	content: "";
	width: 32px;
	height: 32px;
	background-color: var(--container-color);
	position: absolute;
	left: 0;
	right: 0;
	top: -.75rem;
	margin-inline: auto;
	border-radius: .25rem;
	rotate: 45deg;
  }
  
  .card__header span {
	color: var(--title-color);
	font-weight: 500;
  }
  
  .card__image {
	width: 200px;
	height: 200px;
	position: relative;
	margin: auto;
  }
  
  .card__data {
	text-align: center;
  }

  .card__identity {
	position: absolute;
	bottom: 4rem;
	left: 6rem;
  }
  
  .card__name {
	font-size: var(--h2-font-size);
	color: white;
	font-weight: 600;
	margin-bottom: 0.25rem;
  }
  
  .card__profession {
	color: white;
	font-size: var(--normal-font-size);
	font-weight: 500;
	margin-bottom: 0.5rem;
  }
  
  /* Scale profile image */
  .card__article:hover .card__profile {
	transform: scale(.8);
	opacity: .7;
  }
  
  /* Show tooltip card */
  .card__article:hover .card__tooltip {
	opacity: 1;
	pointer-events: initial;
	top: 16rem;
  }

  .card__article:hover .card__profile h2 {
	font-size: 30px;
	color: black;
    -webkit-text-stroke: transparent;
  }
/* End About Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 20rem;
	width: 90%;
}
#contact .contact-items {
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

.testimonial-box {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20rem;
}
.testimonials-section{
	width: 100%;
	padding: 0px 8%;
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}

.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	background-color: white;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
	border-radius: 10px;
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: var(--heading-clr);
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: var(--heading-clr);
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-clr);
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--heading-clr);
}
.profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--heading-clr);
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
	border-radius: 50% !important;
}

.owl-dots{
	margin-top: 15px;
}
.owl-dots .owl-dot span{
	background-color: rgb(158, 157, 157) !important;
	padding: 6px !important;
}
.owl-dot.active span{
	background-color: black !important;
}

#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h1 {
	font-family: var(--logo-text);
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}


@media only screen and (min-width: 496px) {
	.card-container {
		height: 50vh;
	}
}


@media screen and (min-width: 540px) {
	.card__content {
	  width: 250px;
	  padding-inline: 2rem;
	}
}


@media only screen and (min-width: 768px) {
	h1.section-title {
		font-size: 6rem;
	}

	#hero h1 {
		font-size: 7rem;
	}

	.card-container {
		height: 50vh;
	}

	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}

	#about .about {
		flex-direction: row;
	}
	#about .col-right {
		text-align: center;
		padding: 30px 30px 0;
	}

	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
}

@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	.card-container {
		height: 20vh;
	}
	
}

@media screen and (min-width: 1330px) {

	.card__profile {
	  margin-bottom: 0;
	}
	.testimonial-box {
		margin-bottom: 0px;
	}
}

